.b-startGame {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 100px 20px 50px;

  @include media(md-down) {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 40px;
  }

  &-column {
    @include media(lg-up) {
      width: 50%;
    }

    &.m-text {
      @include media(md-down) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }
  }
}
