@use "sass:math";

.l-gameZone {
  background-color: $color-black-5;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  @include media(md-down) {
    flex-direction: column;
  }

  &-leftSide {
    height: 100%;

    @include media(lg-up) {
      padding: 100px 70px;
      width: percentage(math.div(1064, 1440));
    }
  }

  &-rightSide {
    background-color: $color-white-100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: safe center;
    overflow: auto;

    @include media(lg-up) {
      width: percentage(math.div(376, 1440));
    }

    @include media(md-down) {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $color-black-5;
      padding: 50px 0 0;
    }

    &.m-open {
      @include media(md-down) {
        display: flex;
      }
    }
  }
}
